apiVersion: karpenter.k8s.aws/v1
kind: EC2NodeClass
metadata:
  name: default
spec:
  kubelet:
      maxPods: 10
  subnetSelectorTerms:
    - tags:
        karpenter.sh/discovery: ${cluster_name}
  securityGroupSelectorTerms:
    - tags:
        karpenter.sh/discovery: ${cluster_name}
  # Use Karpenter's dedicated role - this will be auto-discovered
  # role: ${role_name}
  instanceStorePolicy: RAID0
  amiFamily: AL2023
  amiSelectorTerms:
      - alias: al2023@latest # Amazon Linux 2023
#  amiSelectorTerms:
#      - id: ami-04d00324ebf262399
#      - id: ami-03513159c48355642
  blockDeviceMappings:
  - deviceName: /dev/sda1
    rootVolume: true
    ebs:
      volumeSize: 30Gi
      volumeType: gp3
      deleteOnTermination: true
  tags:
    Name: ${cluster_name}-node
    created-by: "karpenter"
    karpenter.sh/discovery: ${cluster_name}